body{
    margin: 0;
    padding: 0;
}

main{
    width: 100vw;
    margin-top: 14vh;
    padding: 0 5vw;
    box-sizing: border-box;
    height: fit-content;
}

.title{
    width: 100%;
    border-bottom: var(--grey) 3px solid;
    position: relative;

    margin-bottom: 1em;
}

.title h1{
    margin: 0;
    padding-left: 2vw;
    box-sizing: border-box;
    font-size: calc(1rem + 2vw);
    position: relative;
    
    color: var(--grey);
}

.title h1 div{
    position: absolute;
    bottom: 1vw;
    right: 0;
}

.title button{
    float: right;
    margin: 0 1vw;
    padding: 0 1vw;
    height: 7.5vh;
    border-radius: 10px;
    border-style: none;
    color: var(--grey);
    font-family: "Inder",sans-serif;
    font-weight: 700;
    font-size: 50%;
}

#summary{
    height: 65vh;
    background-color: var(--dark-grey);
    width: 90%;
    border-radius: 10px;
    padding-bottom: 2vh;
    box-sizing: border-box;
}

#summary .title{
    width: 90%;
    margin: 1rem 7% 1rem 3%;
    padding-top: 1rem;
    border-bottom: var(--grey) 3px solid;
}

#summary .title h1{
    font-size: calc(1rem + 2vw);
    color: #D9D9D9;
    padding-left: calc(1vw + .5rem);
}

.header{
    margin: 6vh 0 0 0;
    width: 100%;
    border-bottom: var(--dark-grey) 3px solid;
    position: relative;
    display: flex;
}

.header .button{
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    background-color: var(--grey);
    border-radius: 10px 10px 0 0;
    font-weight: 700;
    border: 3px var(--dark-grey) solid;
    border-bottom: none;
    margin: 0 0.5rem;
}

.header .button span{
    font-size: calc(1.5vw + .5rem);
    position: relative;
    display: inline-block;
    padding: 0.5vh  1vw;
    bottom: -3px;
    
}

.header #filter{
    display: flex;
    align-items: center;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
}

.header #filter select{
    cursor: pointer;
    margin: 0 1vw;
    padding: 0 0.5vw;
    background-color: var(--grey);
    border: 1px solid var(--grey);
    font-family: "Inder", sans-serif;
    font-weight: 700;
    font-size: calc(1.5vw);
}

.header #filter select option{
    text-align: right;
}

#content{
    width: 90%;
    margin: 0 5% 1rem 5%;
}

#content .title{
    display: flex;
    justify-content: space-evenly;
    margin: calc(1vw + .5rem) 0;
}

#content .title h1{
    font-size: calc(1.2vw + .5rem);
}

.section{
    background-color: var(--dark-grey);
    border-radius: 10px;
    padding: 1rem 2rem 2rem 2rem;
    margin-bottom: 1.5rem;
}

.section h1{
    padding: 0;
    margin: 0;
    color: var(--grey);
    font-size: calc(2.5vw + 1rem);
}

.section h1 span{
    border-bottom: 3px var(--grey) solid;
}

.section p{
    margin: 1vh 0 0 0;
    padding: 0;
    color: var(--grey);
    font-size: calc(1vw + .5rem);
}

#content #part{
    background-color: var(--dark-grey);
    border-radius: 10px;
    padding: calc(1vh + .5rem) 2rem calc(1vh + 1rem) 2rem;
    margin-bottom: calc(1vh + 1rem);
}

#part h1{
    align-items: baseline;
    padding: 0;
    margin: 0 0 calc(1vh + .5rem) 0;
    color: var(--grey);
    font-size: calc(2.5vw + 1rem);
}

#part h1 div{
    font-size: calc(1.5vw + .5rem);
}

#feedback{
    height: auto;
    margin: 2vh 0;
    padding: 1vh 0;
    display: grid;
    grid-template-columns: repeat(2, 43%);
    column-gap: 2%;
    row-gap: 5%;
    justify-content: center;
}

#feedback #info{
    font-weight: 700;
    padding: 1vh 1vw;
    background-color: var(--light-green);
    color: var(--dark-grey);
    border: var(--dark-grey) 2px solid;
    border-radius: 10px;
}

#feedback #info h1 {
    margin: 0;
    font-size: calc(1rem + 2vw);
    width: 100%;
    display: block;
}

#feedback #info span{
    margin: 0 0 1vw 0;
    font-size: calc(1vw + .5rem);
    color: var(--date);
}

#feedback #info p{
    font-size: calc(1vw + .5rem);
    margin: 0.5vh 0 ;
}

#users{
    width: 100%;
}

#users table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2rem;
}

#users tr{
    height: calc(2vh + 5vw);
    font-size: calc(0.5rem + 2vw);
    font-weight: 700;
    text-align: left;
}

#users th{
    color: var(--date);
    padding-left: 2vw;
    border-bottom: 3px var(--dark-grey) solid;
    border-collapse: collapse;
}

#users td{
    padding-left: 2vw;
    border-bottom: 3px var(--dark-grey) solid;
    border-collapse: collapse;
}

#detail{
    display: grid;
    box-sizing: border-box;
    grid-template-columns: 30% 65%;
    justify-content: space-between;
    padding: 0 10% 0 5%;
    height: 70%;
    width: 100%;
}

#chart{
    background-color: var(--grey);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
    padding: 5%;
}

#chart-detail{
    border-radius: 10px;
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
    align-items: center;
}

.category{
    background-color: var(--grey);
    border-radius: 10px;
    width: 100%;
    height: 90%;
}

.category .cat-title{
    width: 100%;
    display: flex;
    justify-content: center;

    background-color: transparent;
    border-radius: 0;
}

.category .cat-title h1{
    text-align: center;
    font-size: calc(1.2vw + .5rem);
    border-bottom: 2px solid var(--dark-grey);
    width: 85%;
}

.category p{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 5vw;
    margin: 0;
}

.part-content{
    padding: 1vh 1vw;
    box-sizing: border-box;
    background-color: var(--grey);
    border-radius: 10px;
    width: 100%;
}

#percentage{
    height: 25%;
    display: flex;
    align-items: center;
    padding: 0 2vw;
}

#progress-bar{
    background-color: var(--red);
    height: 20%;
    width: 100%;
    border-radius: 50px;
    outline: 2px solid var(--grey);
}

#indicator{
    background-color: var(--green);
    height: 100%;
    border-radius: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    outline: 2px solid var(--grey);
    z-index: 1;
}

#indicator span{
    padding: 1vh 2vw;
    font-size: calc(1.5vw + .5rem);
    font-weight: 700;
    border-radius: 50px;
    outline: 2px solid var(--grey);
    z-index: 2;
}

#quiz-detail{
    box-sizing: border-box;
    height: 45%;
    width: 100%;
    margin: 0;
    padding: 1vh 2vw;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    justify-content: space-between;
}

#quiz-detail h1{
    margin-bottom: 0;
}

#quiz-detail p{
    font-size: 3.5vw;
}

#question{
    justify-self: center;
    width: 95%;
    font-size: 2vw;
    background-color: var(--grey);
    padding: 1vh 1vw;
    box-sizing: border-box;
    border-radius: 10px;
}

#answer{
    margin-top: 3vh;
    width: 100%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-auto-rows: 10vh;
    row-gap: 3vh;
    column-gap: 2vw;
    justify-content: center;
}

#answer div{
    background-color: var(--grey);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(1vh + 2vw)
}

@media screen and (max-width: 1200px) and (min-height: 500px) {
    main{
        margin-top: 60vh;
    }
}