:root{
    /* for title sec of quiz/material selection */
    --light-green: #AEE9D0;
    /* mainly for header and certain buttons */
    --green: #4AB788;
    
    --hover-grey: #C0C0C0;
    /* search bar */
    --light-grey: #F6EAEA;
    /* background */
    --grey: #D9D9D9;
    /* filter OR subsecion backgtround or button font color */
    --dark-grey: #414443;
    --date:#8A918F;

    /* for creation/alteration btns -> edit, create */
    --blue: #1081F2;
    /* for denial btns -> exit, delete */
    --red: #B74C4A;
    --light-red: #E69391;
    --orange: #F29010;
    --light-orange: #FAB55B;
}

footer{
    background-color: var(--green);
    height: 25vh;
    margin-top: 5rem;
    
}

body{
    overflow-x: hidden;
    background-color: var(--grey);
    font-family: "Inder", sans-serif;
    color: var(--dark-grey);
    width: 100vw;
    margin: 0;
    position: relative;
}