:root {
  /* for title sec of quiz/material selection */
  --light-green: #aee9d0;
  /* mainly for header and certain buttons */
  --green: #4ab788;

  /* search bar */
  --light-grey: #f6eaea;
  /* background */
  --grey: #d9d9d9;
  /* filter OR subsecion backgtround or button font color */
  --dark-grey: #414443;

  /* for creation/alteration btns -> edit, create */
  --blue: #1081f2;
  /* for denial btns -> exit, delete */
  --red: #b74c4a;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--grey);
  font-family: "Inder", sans-serif;
}

header {
  height: 12.5vh;
  max-height: 12.5vh;
  width: 100vw;
  position: sticky;
  top: 0;
  background-color: var(--green);
  z-index: 100;
}

header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
}

header li {
  float: right;
  height: 100%;
  width: 10%;
  margin: 0 1rem;
}

::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 10px;
}

li#logo {
  float: left;
}

header li a {
  position: relative;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--dark-grey);
  border-bottom: var(--dark-grey) 3px solid;
}

li.options a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0;
  bottom: 0;
  background: var(--dark-grey);
  left: 0;
  transition: 0.5s, color 0s;
  z-index: -1;
}

li.options a:hover::after {
  height: 100%;
}

li.options a:hover {
  color: var(--green);
}

li#logo a {
  font-size: 3rem;
  font-weight: 700;
  color: var(--dark-grey);
  border-style: none;
}

.wrapper {
  position: relative;
}
#OpenFilter {
  cursor: pointer;
  position: fixed;
  left: 0px;
  top: 12.5vh;
  height: 100%;
  background-color: var(--dark-grey);
  padding: 5px;
  color: var(--grey);
  font-size: 22px;
}

#filter {
  position: fixed;
  width: 15vw;
  height: 87.5vh;
  background-color: var(--dark-grey);
  left: -15vw;
  z-index: 1;
}

#filter.show {
  animation-name: MoveOut;
  animation-duration: 500ms;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

#filter.close {
  animation-name: MoveIn;
  animation-duration: 500ms;
  left: -15vw;
}

@keyframes MoveIn {
  from {
    left: 0px;
  }
  to {
    left: -15vw;
  }
}

@keyframes MoveOut {
  from {
    left: -15vw;
  }
  to {
    left: 0px;
  }
}

#filter btn {
  color: var(--grey);
}

#filter btn#CloseFilter {
  cursor: pointer;
  display: flex;
  padding: 0 0 1vh 2vw;
  font-weight: 600;
  font-size: min(3vw, 1.5rem);
  width: 70%;
  margin: 1rem;
  border-bottom: var(--grey) 2px solid;
}

#filter input[type="text"] {
  font-family: "Inder", sans-serif;
  padding-left: 3%;
  margin: 0 1rem 0.5rem 1rem;
  width: 80%;
  height: 5%;
  background-color: var(--light-grey);
  color: var(--dark-grey);
  border: var(--dark-grey) 2px solid;
  border-radius: 10px;
}

.CheckSection {
  margin: 0 1rem 1rem 1.5rem;
  color: var(--grey);
}

.CheckSection h3 {
  cursor: pointer;
  border-bottom: var(--grey) 2px solid;
  margin-bottom: 0.5rem;
}

.check-dropdown-list {
  display: none;
}

.check-dropdown-list.active {
  display: block;
  overflow: auto;
  height: 18vh;
}

.check-dropdown-list.active::-webkit-scrollbar {
  width: 8px;
}
.check-dropdown-list.active::-webkit-scrollbar-track {
  background: var(--light-grey);
  border-radius: 10px;
}
.check-dropdown-list.active::-webkit-scrollbar-thumb {
  background: var(--green);
  border-radius: 10px;
}

#open_nav {
  margin-top: 10px;
}

#main_content {
  margin-top: 20px;
  margin-left: 6vw;
}

div.recent_container {
  display: grid;
  grid-template-columns: repeat(1, 30%);
  grid-auto-flow: column;
  width: 100%;
  height: 90%;
  margin: 25px 0;
  gap: 45px;
  transition: bottom 500ms ease;
  overflow-x: auto;
  @starting-style {
    bottom: 0%;
  }
}
div.recommend_container {
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(3, 31%);
  /* height: 90%; */
  margin: 25px 0;
  gap: 20px;
  transition: bottom 500ms ease;
  overflow-y: auto;
  @starting-style {
    bottom: 0%;
  }
}
div.everything_container {
  justify-content: space-around;
  display: grid;
  grid-template-columns: repeat(3, 31%);
  margin: 25px 0;
  gap: 20px;
  transition: bottom 500ms ease;
  overflow-y: hidden;
  @starting-style {
    bottom: 0%;
  }
}

section.material {
  box-sizing: border-box;
  background-color: var(--dark-grey);
  color: var(--grey);
  border-radius: 10px;
  width: 25vw;
  height: 26vh;
  cursor: pointer;
}

div.title {
  width: 40%;
  border-bottom: var(--dark-grey) 3px solid;
  position: relative;
}

div.title h1 {
  margin: 1rem 0;
  padding-left: 1.5rem;
  position: relative;
  z-index: -1;
}

.material .title {
  box-sizing: border-box;
  width: 100%;
  height: 35%;
  background-color: var(--light-green);
  color: var(--dark-grey);
  border-radius: 10px;
  border: var(--dark-grey) 2px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
}

.material .title p {
  width: 80%;
  text-align: center;
}

.dropdown button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  position: absolute;
  top: 2px;
  right: 5px;
}
.dropdown a {
  border-radius: 10px;
  text-decoration: none;
  color: var(--dark-grey);
  padding: 5px;
  width: 93%;
  font-size: 15px;
}
.dropdown .dropdown-menu {
  position: absolute;
  border-radius: 10px;
  border-left: 3px solid;
  top: 33px;
  right: 0px;
  width: 50%;
  display: none;
  z-index: 1;
  background-color: var(--light-green);
}
.dropdown:hover .dropdown-menu {
  display: grid;
}
.dropdown-menu a:hover {
  background-color: var(--green);
}

.subject p {
  margin: 5px;
  font-size: 12px;
  text-decoration: underline;
}

.progress {
  box-sizing: border-box;
  width: 100%;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 10%;
}

.progress button {
  border-radius: 6px;
  border: none;
  width: 100%;
  margin-top: 2%;
  height: 3vh;
  margin-bottom: 6%;
}

#show-progress {
  font-size: 1.2rem;
  position: relative;
  width: 100%;
  display: flex;
}

#show-progress div {
  position: absolute;
  right: 0;
}

.progress-bar {
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 10px;
  background-color: var(--grey);
  width: 100%;
  height: 0.7rem;
}

.progress-bar div {
  border-radius: 10px;
  background-color: var(--green);
  height: 100%;
}

.modal-content {
  position: relative;
  align-self: center;
  margin: auto;
  padding: 0 1rem;
  border-width: 5px;
  border-radius: 10px;
  width: 40%;
  animation: close 300ms forwards;
}

.modal-content::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal-content[open] {
  animation: open 300ms forwards;
  margin-top: auto;
  margin-bottom: auto;
}

.close_button {
  font-size: 2rem;
  cursor: pointer;
}

.modal-content .title h1 {
  margin-bottom: 5px;
  padding-left: 0;
}

.modal-content .summary {
  display: block;
  margin-top: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  padding: 1rem;
  border: 5px solid;
  border-radius: 10px;
  width: 80%;
  height: 50%;
  overflow: auto;
}

.modal-content .summary p {
  font-size: 1.5rem;
  margin: 0;
}

.summary h1 {
  font-size: 2vw;
  margin: 0;
}

.modal-content button.start {
  font-size: 20px;
  margin-top: 5vh;
  margin-bottom: 1rem;
  border: 5px solid;
  border-radius: 15px;
  width: 50%;
  cursor: pointer;
}

.modal-content::-webkit-scrollbar {
  width: 8px;
}
.modal-content::-webkit-scrollbar-track {
  background: var(--light-grey);
  border-radius: 10px;
}
.modal-content::-webkit-scrollbar-thumb {
  background: var(--light-green);
  border-radius: 10px;
}

.modal-content .title {
  width: 50%;
}

@media only screen and (max-width: 767px) {
  #main_content .title {
    font-size: 80%;
  }
  div.recent_container {
    gap: 20%;
    margin-left: 20px;
  }
  div.recommend_container {
    grid-template-columns: repeat(2, 42%);
    grid-auto-rows: auto;
    gap: 13px;
    margin-left: 3%;
  }
  section.material {
    width: 39vw;
    height: 18vh;
  }
  .material .title p {
    font-size: 4vw;
    text-align: left;
    width: 90%;
  }
  .dropdown button {
    top: 8px;
  }
  .dropdown svg {
    width: 85%;
  }

  #show-progress {
    font-size: 4vw;
  }

  .modal-content[open] {
    width: 80%;
  }

  .summary h1 {
    font-size: 6vw;
  }
}
